<h1>Log into your existing Account</h1>
<p>Fill in your information below</p>

<hr/>

<%= form_tag session_path, :method => :post do %>

	<div class="span6">

		<%= text_field_tag :email, params[:email], placeholder: "E-mail Address", class: "input-block-level" %>
		<%= password_field_tag :password, '', placeholder: "Password", class: "input-block-level" %>
		
		<div class="form-actions">
			<%= submit_tag 'Login', class: 'btn btn-primary' %>
		</div>
	</div>

<% end %>
