<div>
	<%= form.text_field :title, placeholder: 'Project Title' %>
</div>

<div>
	<%= form.number_field :goal, placeholder: 'Goal Amount' %>
</div>

<div>
	<%= form.text_area :teaser, rows: 2, placeholder: 'Teaser text, a brief description' %>
</div>

<div>
	<%= form.text_area :description, rows: 10, placeholder: 'Detailed description. Go nuts ...' %>
</div>
